absl-py==1.4.0
accelerate @ git+https://github.com/huggingface/accelerate.git@ee163b66fb7848892519e804688cb4ae981aacbe
aiofiles==22.1.0
aiohttp==3.9.3
aiohttp-cors==0.7.0
aiosignal==1.3.1
aiosqlite==0.19.0
anyio==4.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid==3.0.3
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
autopep8==2.0.4
Babel==2.14.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
bitsandbytes==0.43.0
black==24.1.1
bleach==6.1.0
blessed==1.20.0
bokeh==3.3.4
boto3==1.28.85
botocore==1.31.85
cachetools==5.3.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
cmake==3.28.1
codeflare-sdk==0.13.0
codeflare-torchx==0.6.0.dev1
colorama==0.4.6
colorful==0.5.6
comm==0.2.1
commonmark==0.9.1
contourpy==1.2.0
cryptography==40.0.2
cycler==0.12.1
datasets==2.18.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.8
distlib==0.3.8
dnspython==2.5.0
docker==7.0.0
docstring-parser==0.15
docstring-to-markdown==0.13
elyra-code-snippet-extension==3.15.0
elyra-pipeline-editor-extension==3.15.0
elyra-python-editor-extension==3.15.0
elyra-server==3.15.0
entrypoints==0.4
exceptiongroup==1.2.0
executing==1.2.0
fastjsonschema==2.19.1
filelock==3.13.1
fire==0.5.0
flake8==7.0.0
fonttools==4.47.2
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
gitdb==4.0.11
GitPython==3.1.41
google-api-core==2.16.2
google-api-python-client==1.12.11
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.1
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
gpustat==1.1.1
grpcio==1.60.1
httplib2==0.22.0
huggingface-hub==0.21.4
idna==3.6
importlib-metadata==7.0.1
ipykernel==6.29.0
ipython==8.18.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-bokeh==3.0.7
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter-resource-usage==1.0.1
jupyter-server-mathjax==0.2.6
jupyter-ydoc==0.2.5
jupyter_client==7.4.9
jupyter_core==5.7.1
jupyter_packaging==0.12.3
jupyter_server==2.7.3
jupyter_server_fileid==0.9.1
jupyter_server_proxy==4.0.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.7
jupyterlab-lsp==4.2.0
jupyterlab-widgets==3.0.9
jupyterlab_git==0.42.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
kafka-python==2.0.2
kfp==1.8.22
kfp-pipeline-spec==0.1.16
kfp-server-api==1.8.5
kfp-tekton==1.5.9
kiwisolver==1.4.5
kubernetes==25.3.0
lit==17.0.6
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib==3.6.3
matplotlib-inline==0.1.6
mccabe==0.7.0
micropipenv==1.6.0
minio==7.2.3
mistune==3.0.2
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
mysql-connector-python==8.0.33
nbclassic==1.0.0
nbclient==0.9.0
nbconvert==7.14.2
nbdime==3.2.1
nbformat==5.9.2
nbgitpuller==1.2.0
nest-asyncio==1.6.0
networkx==3.2.1
notebook==6.5.6
notebook_shim==0.2.3
numpy==1.24.4
nvidia-ml-py==12.535.133
oauthlib==3.2.2
onnx==1.15.0
onnxconverter-common==1.14.0
opencensus==0.11.4
opencensus-context==0.1.3
openshift-client==1.0.18
overrides==7.7.0
packaging==23.2
pandas==1.5.3
pandocfilters==1.5.1
papermill==2.5.0
paramiko==3.4.0
parso==0.8.3
pathspec==0.12.1
peft @ git+https://github.com/huggingface/peft.git@a9425d1409379ccedd89acc2dc834ed73961b96b
pexpect==4.9.0
pillow==10.2.0
platformdirs==3.11.0
plotly==5.16.1
pluggy==1.4.0
prometheus-client==0.19.0
prompt-toolkit==3.0.43
protobuf==3.20.2
psutil==5.9.8
psycopg==3.1.18
ptyprocess==0.7.0
pure-eval==0.2.2
py-spy==0.3.14
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.21
pycryptodome==3.20.0
pydantic==1.10.14
pydocstyle==6.3.0
pyflakes==3.2.0
PyGithub==2.2.0
Pygments==2.17.2
PyJWT==2.8.0
pylint==3.0.3
pymongo==4.5.0
PyNaCl==1.5.0
pyodbc==4.0.39
pyparsing==3.1.1
pyre-extensions==0.0.30
python-dateutil==2.8.2
python-json-logger==2.0.7
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.10.0
pytoolconfig==1.3.1
pytz==2024.1
PyYAML==6.0.1
pyzmq==24.0.1
ray==2.7.0
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==12.6.0
rope==1.12.0
rpds-py==0.17.1
rsa==4.9
s3transfer==0.7.0
safetensors==0.4.2
scikit-learn==1.3.2
scipy==1.11.4
Send2Trash==1.8.2
shtab==1.7.1
simpervisor==1.0.0
six==1.16.0
skl2onnx==1.15.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
stack-data==0.6.3
strip-hints==0.1.10
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminado==0.18.0
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.38.2
triton==2.0.0
trl @ git+https://github.com/huggingface/trl.git@7630f877f91c556d9e5a3baa4b6e2894d90ff84c
typer==0.9.0
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.9.0
tyro==0.7.3
ujson==5.9.0
uri-template==1.3.0
uritemplate==3.0.1
urllib3==1.26.18
virtualenv==20.21.0
watchdog==3.0.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.1
whatthepatch==1.0.5
widgetsnbextension==4.0.9
wrapt==1.16.0
xxhash==3.4.1
xyzservices==2023.10.1
y-py==0.6.2
yapf==0.40.2
yarl==1.9.4
yaspin==3.0.1
ypy-websocket==0.8.4
zipp==3.17.0
